
Algebra_Linear\.pdf

plano-algebra_linear_\(1-2017\)\.aux

plano-algebra_linear_\(1-2017\)\.log

plano-algebra_linear_\(1-2017\)\.pdf

plano-algebra_linear_\(1-2017\)\.synctex\.gz

*.aux

*.log

plano-algebra_linear_\(2018_2\)\.pdf

*.gz

*.toc

*.ind

*.idx

*.ilg

listas/ans1\.tex

listas/lista-1-algebra-linear-corpos\.pdf

*.fls

*.fdb_latexmk

listas/lista-2-algebra-linear-sistemas-lineares\.pdf

listas/lista-3-algebra-linear-matrizes-e-determinantes\.pdf

listas/lista-4-algebra-linear-espacos-vetorias\.pdf

listas/lista-4-algebra-linear-espacos-vetoriais\.pdf

listas/solucao-outro-exercicio\.pdf

listas/lista-5-algebra-linear-espacos-vetorias-parte2\.pdf

listas/lista-6-algebra-linear-transformacoes-lineares\.pdf

listas/lista-7-algebra-linear-diagonalizacao\.pdf

listas/lista-8-algebra-forma-Jordan\.pdf

plano-algebra_linear_\(2019_1\)\.pdf

teoremas_algebra_linear\.pdf

*.nav

*.out

*.snm

listas/lista-3-algebra-linear-espacos-vetoriais\.pdf

listas/lista-4-algebra-linear-espacos-vetorias-parte2\.pdf

listas/lista-5-algebra-linear-transformacoes-lineares\.pdf

listas/lista-6-algebra-linear-transformacoes-lineares-e-matrizes\.pdf
